/* Midway Screen Settings */

@media(min-width: 600px) and (max-width: 900px) {

    .container {

        display: grid;
        grid-template-rows: 20vh 5vh 65vh 10vh;
        grid-template-columns: 20vw 80vw;
        grid-template-areas: "head head"
                             "nav  nav"
                              "side main"
                               "foot foot";

        border: 1px solid blue;
        background-color: orchid;
        color: white;
        text-align: center;
        align-items: contain;
        height: 100vh;
        width: 100vw;
    }


    .container2 {

        display: grid;
        grid-template-rows: 20vh 5vh 60vh 15vh;
        grid-template-areas: "head"
                             "nav"
                              "main"
                               "foot";
        height: 100%;
        width: 100%;
        border: 1px solid blue;
        background-color: orchid;
        color: white;
        text-align: center;
    }

    header {

        grid-area: head;
        font-weight: bold;
        font-size: xx-large;
        text-shadow: 4px 4px 5px #000000;
    }

    .nav-bar {

        display:flex;
        flex-wrap: wrap;
        align-items: center;
        align-items: right;
        grid-area: nav;
    }

    .main {

        grid-area: main;
    }

    footer {

        grid-area: foot;
    }

    .side-bar {

        display: flex;
        flex-direction: row;
        grid-area: side;
    }

    .side-pic {

        max-width: 85%;
        margin: 5%;
        border-radius: 10px;

    }

    .side-post {

        font-style: italic;
    }


    button {

        border-radius: 5px;
        background-color: #FFFFFF;

    }

    h4 {

        text-decoration: underline;
    }

}
